.header {
    width: 100%;
}

.coverContainer {
    min-height: 209px;
    position: relative;
    box-sizing: border-box;
    padding: 360px 0px 0px;
}

.headerCover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    overflow: hidden;
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background: radial-gradient(tomato, mistyrose);
    background-repeat: no-repeat;*/
}

.leftImg {
    flex: 1 1 0%;
}

.coverImg {
    position: relative;
    width: 1024px;
    height: 100%;
    top: auto;
    left: auto;
    /*filter: none;*/
    /*width: 60%; */
}

.leftGradient {
    width: 150px;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(-90deg, rgba(102, 110, 70, 0) 0%, rgb(255, 255, 255) 100%)
}

.rightGradient {
    width: 100px;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-image: linear-gradient(90deg, rgba(78, 88, 56, 0) 0%, rgb(255, 255, 255) 100%);
}

.rightImg {
    flex: 1 1 0%;
}

.coverLayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.35) 2%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 100%);
    overflow: hidden;
    /*
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.35) 2%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.5) 100%);
    */
}

.headerBottomContainer {
    max-width: 960px;
    margin: 0px auto;
}

.headerBottom {
    position: relative;
    bottom: unset;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 0px 166px;
}

.hBImg {
    width: 166px;
    height: 238px;
    position: absolute;
    top: 2px;
    left: 0px;
    border-width: 2px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 2px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    background: rgb(248, 248, 248);
    transition: all 300ms ease 0s;
    z-index: 45;
    flex-shrink: 0;
    overflow: hidden;
    display: block;
}

.posterImg {
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    /*object-fit: cover;*/
    transition: opacity 420ms ease 0s;
    border-style: none;
}

.hBText {
    min-height: unset;
    margin-left: unset;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 0px 10px 25px;
    text-align: left;
    margin: 0px -4px;
}

.hBInfo {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    margin: 0px 4px;
}

em {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
    font-style: normal;
}

.information {
    width: 50%;
}

.headerInfo {
    display: grid;
    text-align: center;
    max-width: 960px;
    margin: 0px auto;
}

/*
.headerInfo:nth-child(1) {
	/* 1번 라인에서 3칸 
	grid-row: 1 / span 3;
}*/

.infoText {
    text-align: left;
    margin: 0px 0px 0px 191px;
}

.title {
    margin: 0px;
    margin-block-start: 15px;
    display: block;
    width: 520px;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1.2px;
    line-height: 41px;
}

.second {
    display: flex;
}

.release {
    margin: 0px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    margin-top: 4px;
    display: block;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.genres {
    display: flex;
    margin: 0px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 22px;
    margin-top: 4px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
}

.genre {
    margin-right: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
    gap: 10px 20px;
}

.cast {
    display: flex;
}

.castImg {
    width: 80px;
    /*height: 56px;*/
    margin-right: 10px;
}

.castImg2 {
    max-width: initial;
}

.castName {
    font-weight: bold;
}