.coverImg {
    width: 80%;
}

.release {
    margin: 0px;
}

.genres {
    display: flex;
    font-size: 20px;
}

.genre {
    margin-right: 5px;
}

.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    gap: 10px 20px;
}

.cast {
    display: flex;
}

.castImg {
    width: 80px;
    /*height: 56px;*/
    margin-right: 10px;
}

.castImg2 {
    max-width: initial;
}

.castName {
    font-weight: bold;
}